<?xml version="1.0"?>
<robot name="bbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Chassis dimensions -->
  <xacro:property name="chassis_length" value="0.08"/>
  <xacro:property name="chassis_width" value="0.15"/>
  <xacro:property name="chassis_height" value="0.05"/>
  <xacro:property name="chassis_mass" value="0.5"/>
  <xacro:property name="chassis_z" value="0.040"/>

  <!-- Wheel dimensions -->
  <xacro:property name="wheel_radius" value="0.056"/>
  <xacro:property name="wheel_width" value="0.057"/>
  <xacro:property name="wheel_mass" value="0.1"/>
  <xacro:property name="servo_y_offset" value="${0.1276 / 2}"/> <!-- Distance between the drive servos -->

  <!-- Main robot macro -->
  <xacro:macro name="load_bbot" params="
    prefix:=bbot_
    joint_command_topic:=/picoros/joint_commands
    joint_states_topic:=/picoros/joint_states
    mock_hardware:=false">

    <!-- Base footprint (ground plane) -->
    <link name="${prefix}base_footprint"/>

    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
    </joint>

    <!-- Base link (chassis) -->
    <link name="${prefix}base_link">
     <visual>
        <geometry>
          <mesh filename="file://$(find bbot_description)/meshes/base_link.obj" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.025 0 ${chassis_height/2 - 0.0168}" rpy="0 0 0"/>
        <geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.025 0 ${chassis_height/2 - 0.0168}" rpy="0 0 0"/>
        <mass value="${chassis_mass}"/>
        <inertia ixx="${(1.0/12.0) * chassis_mass * (chassis_width * chassis_width + chassis_height * chassis_height)}"
                 ixy="0" ixz="0"
                 iyy="${(1.0/12.0) * chassis_mass * (chassis_length * chassis_length + chassis_height * chassis_height)}"
                 iyz="0"
                 izz="${(1.0/12.0) * chassis_mass * (chassis_length * chassis_length + chassis_width * chassis_width)}"/>
      </inertial>
    </link>

    <!-- Wheels -->
    <link name="${prefix}wheel_left_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find bbot_description)/meshes/wheel.obj" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0.045 0" rpy="0 0 0" />
        <mass value="${wheel_mass}"/>
        <inertia ixx="${(1.0/12.0) * wheel_mass * (3 * wheel_radius * wheel_radius + wheel_width * wheel_width)}"
                 ixy="0" ixz="0"
                 iyy="${(1.0/2.0) * wheel_mass * wheel_radius * wheel_radius}"
                 iyz="0"
                 izz="${(1.0/12.0) * wheel_mass * (3 * wheel_radius * wheel_radius + wheel_width * wheel_width)}"/>
      </inertial>
    </link>
    <joint name="${prefix}wheel_left_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}wheel_left_link"/>
      <origin xyz="0 ${servo_y_offset} 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${prefix}wheel_right_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find bbot_description)/meshes/wheel.obj" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 -0.045 0" rpy="0 0 0" />
        <mass value="${wheel_mass}"/>
        <inertia ixx="${(1.0/12.0) * wheel_mass * (3 * wheel_radius * wheel_radius + wheel_width * wheel_width)}"
                 ixy="0" ixz="0"
                 iyy="${(1.0/2.0) * wheel_mass * wheel_radius * wheel_radius}"
                 iyz="0"
                 izz="${(1.0/12.0) * wheel_mass * (3 * wheel_radius * wheel_radius + wheel_width * wheel_width)}"/>
      </inertial>
    </link>
    <joint name="${prefix}wheel_right_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}wheel_right_link"/>
      <origin xyz="0 ${-servo_y_offset} 0" rpy="0 0 ${pi}"/>
      <axis xyz="0 -1 0"/>
    </joint>

    <!-- ros2_control -->
    <xacro:include filename="$(find bbot_description)/urdf/bbot.ros2_control.xacro"/>
    <xacro:bbot_ros2_control
      name="${prefix}base_control"
      prefix="${prefix}"
      mock_hardware="${mock_hardware}"
      joint_command_topic="${joint_command_topic}"
      joint_states_topic="${joint_states_topic}"/>

  </xacro:macro>
</robot>
